.publicacion {
    background-color: #622CBB;
}

.publicacion-subtitulo {
    font-family: "Roboto Condensed", sans-serif;
    color: #eeeeee;
    font-size: 16px
}

.botoniniciar{
    --background: #622CBB;
    --color: #7beff6;
    font-family: "Roboto Condensed", sans-serif;
}

.titulo-elcarbon{
    font-family: "Roboto Condensed", sans-serif;
    color: #eeeeee;
    font-size: 25px;
}

.chip-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los chips se muevan a una nueva línea si es necesario */
    gap: 8px; /* Espacio entre cada chip */
    justify-content: center; /* Centra los chips en la pantalla */
    padding: 10px; /* Margen interno del contenedor */
}

.chip{
    font-family: "Roboto Condensed", sans-serif;
    --background: #a2dadd; /* Color de fondo morado */
    --color: #622CBB; /* Texto en blanco */
    border-radius: 16px; /* Bordes redondeados */
    padding: 5px 10px; /* Tamaño interno del chip */
    font-size: 14px; /* Tamaño del texto */
}