.searchbar1 {
    font-family: "Roboto Condensed", sans-serif;
    --background: #622CBB;
    --placeholder-color: #f2cff1;
    padding-left: 30px;
}

.cardinicio,
.cardinicio2,
.cardinicio3 {
    font-family: "Roboto Condensed", sans-serif;
    background-color: #622CBB;
    height: 200px;
    width: 32%;
}

.card-container-incio {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    margin: -20px;
    /* para agrandar las cards */
}

.titlecard1,
.titlecard2,
.titlecard3 {
    font-size: large;
    font-family: "Roboto Condensed", sans-serif;
}

.tendencias {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 30px;
    color: #FFFF;
    text-align: center;
}

.actualidad {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 30px;
    color: #FFFF;
    text-align: center;
}

.titulotab1 {
    font-family: "Roboto Condensed", sans-serif;
    color: #eeeeee;
    font-size: 30px;
}

.publicacion-subtitulo1 {
    font-family: "Roboto Condensed", sans-serif;
    color: #eeeeee;
    font-size: 20px
}