
.publicacion4 {
    background-color: #622CBB;
}

.titulo-lospeumos{
    font-family: "Roboto Condensed", sans-serif;
    color: #eeeeee;
    font-size: 25px;
}

.publicacion-subtitulo {
    color: #eeeeee;
    font-size: 18px
}

.botoniniciar4 {
    --background: #622CBB;
    --color: #7beff6;
    font-family: "Roboto Condensed", sans-serif;
}

.chip-container {
    
    display: flex;
    flex-wrap: wrap; /* Permite que los chips se muevan a una nueva línea si es necesario */
    gap: 8px; /* Espacio entre cada chip */
    justify-content: center; /* Centra los chips en la pantalla */
    padding: 10px; /* Margen interno del contenedor */
}

.chip1,
.chip2,
.chip3,
.chip4,
.chip5 {
    --background: #a2dadd; /* Color de fondo */
    --color: #622CBB; /* Texto */
    border-radius: 16px; /* Bordes redondeados */
    padding: 5px 10px; /* Tamaño interno del chip */
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px; /* Tamaño del texto */
}