/* tab 1*/

/* RutiAndo*/
.tex-titulo1 {
    text-align: center;
    margin-top: 20px;
    color: #622CBB;
    font-family: "Alatsi-Regular", Helvetica;
}

/* inicio sesion*/
.ion-tex-inicio {
    text-align: center;
    margin-top: 20px;

}
