/* tab 2 RUTAS*/
.bar {
    --background: #6200ea;
    /*color de fondo*/
}

.searchbar2{
    --background:#622CBB;
}

.ion-tex-inicio, 
.ion-tex-mapa {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 30px;
    color: #622CBB;
    text-align: center;
}


.container-cards {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: -20px;
}

/* tamaño cards*/
.card1,
.card2,
.card3 {
    background-color: #622CBB;
    max-width: 150px;
    /*define el ancho*/
    max-height: 231px;
    /*define el largo de la card*/
    height: fit-content;
    width: 100%;
    /*el ancho sera del 100% del contenedor*/
}

.title1,
.title2,
.title3 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: large;
}

/*para el texto del subtitulo*/
.card-header1,
.card-header2,
.card-header3 {
    font-family: "Roboto Condensed", sans-serif;
    display: grid;
    grid-template-rows: auto 1fr;
    font-size: large;
}

.card1 img,
.card2 img,
.card3 img {
    width: 100%;
    /* O el tamaño que prefieras */
    height: 100px;
    /* fija altura para las imágenes */
    object-fit: cover;
}

/* para resaltar la card */
.card1:hover,
.card2:hover,
.card3:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/*imagen mapa*/
.imagen {
    width: 100%;
    /* Asegura que la imagen ocupe el 100% del contenedor */
    max-width: 600px;
    /* Máximo ancho */
    margin: 20px auto;
    /* Centra la imagen horizontalmente */
    display: block;
}

/* para resaltar la card */
.imagen:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.alert-button {
    font-family: "Roboto Condensed", sans-serif;
    --background: #622CBB;
    /* Ajusta los colores si es necesario */
    --color: white;
    margin-left: 10px;
}