IonContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}


.card-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.card {
    background-color: #622CBB;
    height: 150px;
    width: 30%; 
    margin: 8px;
}

ion-item.progreso { background-color: aqua !important;} /* no funciona no se por que  */

.boton-publicar{
    --background: #622CBB;
    /* Color de fondo */
    --color: white;
    /* Color del texto */
}

.progresotitulo {
    font-family: "Alatsi-Regular", Helvetica;
    font-size: 35px;
    color: #622CBB;}


.progreso {
    margin: 16px; 
    background-color: #457779; 
}


.carduser {
    background-color: #a1d8db;
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 16px;
}

.carduser-content {
    display: flex;
    align-items: center; /* centra la imagen y el texto verticalmente */
}

.foto-perfil {
    width: 80px;
    height: 80px;
    border-radius: 50%; /* hace la imagen redonda */
    margin-right: 10px; /* espacio entre la imagen y el texto */
    margin-left: 0; /* elimina el margen izquierdo */
    padding-left: 0; /* que no haya relleno */
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-title {
    color: #622CBB;
    font-size: 25px;
}

.user-subtitle {
    color: #622CBB;
    font-size: 15px;
}


.logros {
    padding-top: 20px;
    font-family: "Alatsi-Regular", Helvetica;
    font-size: 35px;
    color: #622CBB;}

.calendario {
    background-color: beige;
    padding: 20px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.imagen-calendario {
    max-width: 100%;  
    height: auto;     
    object-fit: contain; 
}