ion-content {
    --background: #6bb4ba;
}

.foto-zorro {
    width: 45px;
    height: 45px;
    margin-left: 60%;
}

ion-tab-bar {
    --background: #622CBB;
}

/* tab 1*/

/* RutiAndo*/
.tex-titulo {
    color: #6bb4ba;
    font-family: "Rowdies", sans-serif;
    font-size: 40px;
    letter-spacing: 0px;
    /*ajusta el espacio entre las letras en un texto*/
    line-height: normal;
    position: fixed;
    top: 0;
}


/* tab 2*/
.bar {
    --background: #622CBB;
}

/* menu /

/* toolbar del menú */
.toolbarmenu {
    font-family: "Roboto Condensed", sans-serif;
    --background: #622CBB;
    color: #ffffff;
    text-align: center;
    /*centrar el título */
    font-size: 1.2rem;
    /*tamaño del título */
}


.item2 {
    font-family: "Roboto Condensed", sans-serif;
    color: #fff;
    /* Color del texto */
    font-size: 1.1rem;
    /* Tamaño de la fuente */
    --background: #603F83;
    /* Fondo al hacer hover */
    border-radius: none
}